/***********/
/* Globals */
/***********/
html {
  font-size: 16px;
  color: #525252;
}

/***********/
/* Colors */
/***********/
.grey {
  color: #333333;
}
.orange {
  color: #ff9900;
}

/**************/
/* Components */
/**************/

#main-wrapper {
}

.fadein {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Spinner */
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
  max-width: 50%;
}
.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}
.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
/* Navbar */
.navbar__logo {
  width: 70px;
  height: auto;
}

.explain-the-map {
  font-size: 12px;
  color: #888888;
  margin-top: -20px;
  padding-bottom: 20px;
}

.explain-the-map p a {
  color: #fb9d04;
}

.explain-the-map a {
  color: #888888;
}

.explain-the-map a:hover {
  text-decoration: underline;
}

.explain-map-box {
  font-size: 16px;
  color: #212529;
}
.navbar__logo-container {
  text-align: center;
}
.navbar__hamburger-menu {
  width: 25px;
  height: 25px;
  display: none;
  padding: 0px;
}

.navbar__hamburger-menu img {
  width: 100%;
}

#mobile-navigation-modal form {
  margin: 0 auto;
}

#mobile-navigation-modal form label {
  font-size: 1.5rem;
  font-family: Georgia;
  font-style: italic;
  font-weight: 600;
  color: #ff9900;
}

#mobile-navigation-modal form .btn-group-vertical {
  display: block;
}

#mobile-navigation-modal form .btn-group-vertical button {
  font-size: 1.5rem;
}
/* Headline */
.headline {
  margin: 1rem;
  font-family: Georgia;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 0px;
  margin-bottom: 0.25rem;
}

/* Timestamp */
.timestamp {
  font-size: 0.8rem;
  text-align: center;
  color: #333333;
  margin-bottom: 1rem;
}

/* Geographic view */
.geo-view__map {
  padding: 1rem;
}

.geo-view__map-container {
  text-align: center;
}

.geo-view__map-image {
  width: 100%;
  height: 80vh;
}

/* Cartographic view */
.carto-view__map {
  padding: 1rem;
}
.carto-view__map-container {
  max-width: 60vh;
  margin: 0 auto;
}

/* Party legends */
.party-legends {
  position: fixed;
  z-index: 10;
  right: 0;
  top: 20vh;
  margin: 0;
  border: 1px solid #333333;
  background: #fff;
}
.party-legends__list {
  list-style: none;
  padding: 0.5rem;
  margin: 0;
}
.party-legends__list-item {
  padding: 0.2rem 0 0.2rem 0;
}
.party-legends__list-item-name {
  display: inline-block;
  font-size: 0.7rem;
  vertical-align: super;
}
.party-legends__list-item-image {
  display: inline-block;
  width: 25px;
  margin-right: 5px;
}
#party-legends-mobile {
  display: none;
  position: relative;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  margin: 10px;
}
#party-legends-mobile .party-legends__list {
  display: flex;
}
#party-legends-mobile .party-legends__list-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
#party-legends-mobile .party-legends__list-item-image {
  margin-right: 0;
  width: 20px;
}

/* Provincial tabs */
.provincial-tabs {
  margin: 2rem 0 3rem 0;
}

.provincial-tabs__nav {
  border-color: #525252;
  display: flex;
}

.provincial-tabs__nav .nav-item {
  border-radius: 0;
  background: #e6e7e8;
  color: #525252;
  border-color: #525252;
  padding: 0.35rem 0.5rem 0.35rem 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  margin-right: 5px;
  line-height: 1.2rem;
}

.provincial-tabs__nav .nav-item.active {
  background: #fff;
  border-color: #525252 #525252 #fff;
}

.provincial-tabs__nav .nav-item:hover {
  border-color: #525252;
}

.provincial-tabs__nav .nav-item.active:hover {
  border-color: #525252 #525252 #fff;
}

.provincial-tabs__content {
  border: 1px solid #525252;
  padding: 1rem;
  margin-top: -1px;
  background: #fff;
}

.provincial-tab-heading {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0.5rem 0 1rem 0;
  display: inline-block;
}

.provincial-tabs__content .tab-search input {
  padding: 5px 10px 5px 10px;
  background: #cfcfcf;
  border: 0;
  color: #fff;
  font-size: 1.3rem;
  width: 100%;
  border-radius: 0;
  text-align: center;
}

.provincial-tabs__content .tab-search input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.8);
  opacity: 1; /* Firefox */
  text-align: center;
}

.provincial-tabs__content .tab-search input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.provincial-tabs__content .tab-search input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.provincial-tab-content .card {
  border-radius: 0;
  border-color: #525252;
  margin: 1rem 0 1rem 0;
}

/* Constituency cards */
.constituency-card {
  box-shadow: 0 -7px 0 #ccc;
}
.constituency-card__id {
  font-size: 1.85rem;
  font-weight: 200;
  margin-bottom: 2px;
}
.constituency-card__name {
  text-transform: uppercase;
  color: #ff9900;
  font-size: 1.5rem;
  box-shadow: 0 1px 0 #ff9900;
  font-weight: 300;
  margin-bottom: 10px;
}
.constituency-card__reg-voters {
  color: #525252;
  font-weight: 800;
  font-size: 1.75rem;
  line-height: 1.65rem;
  margin-bottom: 0.5rem;
}
.constituency-card__reg-voters span {
  display: block;
  font-size: 1rem;
  font-weight: 500;
}
.constituency-card__gender-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 5px;
}

.constituency-card__gender {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 5px;
  width: 50%;
}

.constituency-card__gender span {
  display: block;
  font-size: 1rem;
  font-weight: 600;
}
.constituency-card__polling-stations {
  font-size: 0.9rem;
}

.constituency-card__candidate {
  display: flex;
  flex-direction: row;
  align-items: top;
}

.constituency-card__candidate-party {
  display: flex;
  z-index: 2;
}

.constituency-card__candidate-party svg {
  height: 1.5rem;
}

.constituency-card__candidate-name {
  display: flex;
  text-transform: capitalize;
  padding: 2px 2px 2px 20px;
  background: #ccc;
  margin: 0 0 5px 0;
  font-size: 0.85rem;
  margin-left: -15px;
  z-index: 1;
  width: 100%;
}

.constituency-card__winner .constituency-card__candidate-name {
  font-size: 1.2rem;
}

.constituency-card__winner .constituency-card__candidate-party svg {
  height: 2rem;
}

.constituency-card__winner-label {
  text-align: right;
  font-size: 1.2rem;
  padding-right: 1rem;
}

.constituency-card__generic-values-container {
  text-align: right;
  margin-top: 1rem;
  padding-right: 1rem;
}

.constituency-card__label {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: #525252;
  margin-bottom: 0.75rem;
}

.constituency-card__value {
  font-weight: 800;
  font-size: 1.75rem;
  line-height: 1.65rem;
}

/* WIDGET STYLES*/
.wrapper {
  padding: 0;
  text-align: center;
  font-weight: 300;
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
  padding-bottom: 10px;
  /*display: none;*/
  display: block;
}

.byline {
  font-size: 15px;
  line-height: 15px;
  margin: -5px 0 2px 0;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  display: block;
  padding: 3px 8px 1px 8px;
  background-color: #fb9d04;
}

.text {
  font-size: 15px;
  line-height: 15px;
  color: #ffffff;
  font-weight: 400;
  text-align: left;
}
.text span {
  background-color: #666666;
  margin: 0px 0 4px 0;
  padding: 2px 8px 2px 8px;
}
.seats-won {
  font-size: 40px;
  font-weight: 800;
  line-height: 38px;
}

.party-name {
  margin: 2px 0 10px 0;
}

.party-name span {
  font-size: 15px;
  background: #000;
  padding: 3px 5px 3px 5px;
  font-weight: 800;
  color: #fff;
  min-width: 70px;
}

.box {
  float: left;
  width: 25%;
  padding: 0;
}

.static-widget .box {
  width: 33.33%;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.leader-image img {
  width: 100%;
  margin-top: -13px;
  max-width: 100px;
}

#PPP,
.ppp {
  color: #cc0000;
}

#PPP .party-name span,
.ppp .party-name span {
  background: #cc0000;
  min-width: 45px;
  display: inline-block;
}

#PTI,
.pti {
  color: #33cccc;
}

#PTI .party-name span,
.pti .party-name span {
  background: #33cccc;
  min-width: 50px;
  display: inline-block;
}

#PMLN,
.pmln {
  color: #006699;
}

#PMLN .party-name span,
.pmln .party-name span {
  background: #006699;
  min-width: 50px;
  display: inline-block;
}

.pmlq {
  color: #ffcc99;
}

.pmlq .party-name span {
  background: #ffcc99;
  min-width: 50px;
  display: inline-block;
}

#OTHERS {
  color: #666666;
}

#OTHERS .party-name span {
  background: #666666;
  min-width: 50px;
  display: inline-block;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.byline:hover {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

p a {
  color: #fb9d04;
}

p a:active,
p a:hover {
  color: #333333;
}

/*************/
/* Overrides */
/*************/
.navbar,
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}
.btn,
.btn-group-sm > .btn,
.btn-sm {
  border-radius: 0;
}

.btn {
  background: #fff;
}

.modal-dialog {
  margin: 0;
}

.modal-content {
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  margin: 0;
  border: 0;
}

.modal-header {
  border: 0;
}

.modal-header .close {
  font-size: 2.5rem;
  padding: 1rem 2.5rem 1rem 1rem;
}

/**************************/
/* All media queries here */
/**************************/

/* Standard breakpoints */
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  html {
    font-size: 12px;
  }

  .seats-won {
    font-size: 2rem;
    line-height: 2.25rem;
  }

  .party-name span {
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .navbar__logo {
    width: 50px;
    height: auto;
  }
  .constituency-card__candidate-list {
    margin-top: 20px;
  }
  .constituency-card__generic-values-container,
  .constituency-card__winner-label {
    text-align: center;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}

/* Non standard breakpoints */
@media (max-width: 580px) {
  .navbar__map-selector,
  .navbar__year-selector,
  #party-legends {
    display: none;
  }
  #party-legends-mobile {
    display: block;
  }

  .navbar__hamburger-menu {
    display: block;
  }

  .navbar__logo-container .navbar-brand {
    margin-left: 17.5px;
    margin-right: 0;
  }

  .constituency-card__candidate-party svg {
    height: 1.6rem;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  html {
    font-size: 14px;
  }

  .seats-won {
    font-size: 2.5rem;
  }

  .party-name span {
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  }
}

@media (max-width: 480px) {
  #party-legends-mobile .party-legends__list-item-name {
    transform: rotate(45deg);
    margin-top: 7px;
    margin-bottom: 5px;
  }
  .provincial-tabs__nav {
    margin: 1px 1px 0 0px;
  }
  .provincial-tabs__nav .nav-item {
    flex: 1;
    margin-right: -1px;
  }
  #mobile-navigation-content {
    padding: 20px;
  }

  .provincial-tabs__content .tab-search {
    float: none !important;
    display: block;
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .wrapper {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

@media (max-width: 350px) {
  #party-legends-mobile .party-legends__list-item-name {
    transform: rotate(90deg);
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #party-legends-mobile .party-legends__list-item-image {
    width: 15px;
  }
}

@media (max-width: 991px) {
  .constituency-card__gender-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .constituency-card__gender {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .seats-won {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .party-name span {
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    font-size: 1rem;
  }
}
